.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inner-container {
  display: flex;
  gap: 10px;
}

.meta-data {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

img {
  height: 50px;
  width: 50px;
}
